/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/composer.phar

# Parameters and cache (PhpStorm)
/.idea/

# Parameters and cache (Eclipse)
/.settings/
/.buildpath
/.project

# Composer
/bin/*
!/bin/console
/vendor/

# Symfony stub for tests
/var/*
!/var/.gitkeep
!/var/cache
/var/cache/*

!/var/logs
/var/logs/*